/* Default margin and padding for body */
body {
    margin: 0;
    padding: 0;
}

/* Navigation bar style */
.navbar {
    background-color: #f0f0f0;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Home link style */
.home-link {
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

/* Container for the entire page */
.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

/* Title style */
.title {
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
}

/* Container styling */
.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px; 
}

/* Style for legislator containers */
.legislator-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 300px;
    height: 400px; 
    display: inline-block;
    box-shadow: 2px 2px 5px #888888;
    cursor: pointer;
    position: relative; 
}

/* Style for legislator information at the top */
.legislator-chamber {
    text-align: center; 
    font-size: 16px;
    margin-bottom: 10px;
}

/* Style for legislator information at the bottom */
.legislator-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center; 
    font-size: 18px; 
}

/* Style for legislator images */
.legislator-image-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100%;
    max-width: 100%;
    transform: translateY(-15%); 
}

/* Style for legislator images */
.legislator-image-container img {
    max-width: 100%;
    max-height: 250px; 
}

/* Display search results in containers */
.legislator-container {
    display: inline-block;
    vertical-align: top;
}

/* Additional styling for desktop screens */
@media screen and (min-width: 769px) {
    .legislator-container {
        margin-bottom: 0;
    }
}

/* Styling for small screens */
@media screen and (max-width: 768px) {
    .legislator-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
    }
}
